<form {{action 'onSubmit' on='submit'}}>
    <Input @name="name" @value={{this.model.name}} />
    <Input @type="number" name="age" @value={{this.model.age}} />

    <button type="submit">Submit</button>
</form>

{{outlet}}